@model IEnumerable<Web.Models.EmpleadoDatos>

@{
    ViewData["Title"] = "Empleados";
}

<h1>Empleados</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id_empleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dpi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_inicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_baja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_ult_aumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sueldo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cod_depto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cod_puesto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id_empleado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.dpi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.apellidos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_inicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_baja)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fecha_ult_aumento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sueldo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cod_depto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cod_puesto)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.id_empleado })
                </td>
            </tr>
        }
    </tbody>
</table>
